* {

padding: 0;
margin: 0;
box-sizing: border-box;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff
}

header {
    background-color: eadcff;
    height: 100calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
   }
   
   a {
    color: #000;
    font-size: 24px;
    font-weight: 700;
   }: 
   
   .logo {
    width: 300px;
}

ul {
    display: flex;
    gap: 24px;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

